/* Colors */
$white: #FFFFFF;
$light-blue2: #00A7E1;
$dark-blue: #00171F;
$darkest-blue: #003459;
$blue2: #007EA7;
$bright-blue: #00BFFF;
$hover-blue: #A3B9C9;
$light-purple: #A09CB0;
$aqua-blue: #ABDAE1;

$green: #1FB650;
$blue: #005FD1;
$light-blue: #1DA1F2;
$yellow: #F0C808;
$red: #BF1A2F;