/* Colors */
$white: #FFFFFF;
$sky-blue: #99CDFF;
$dark-blue: #00171F;
$darkest-blue: #003459;
$blue2: #007EA7;
$hover-gray: #4F6D7A;
$light-gray: #C0D6DF;
$aqua-blue: #ABDAE1;
$azureish-white: #D9F0FF;

// Bright colors
$green: #1FB650;
$blue: #005FD1;
$bright-blue: #1DA1F2;
$yellow: #F0C808;
$red: #BF1A2F;

// Light colors
$light-blue: #56CBF9;
$light-green: #7EEA82;
$light-yellow: #EFEF92;
$light-purple: #EAB4B4;
$light-mauve: #D9B3EF;

// Grays
$dark-gray: #A2AFC1;
$medium-gray: #CED3DC;
$light-gray: #FCF7F8;