@import "colors.scss";

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



// App layout
.layout {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: minmax(200px, 3fr) 9fr;
  grid-template-areas: "header header"
                      "nav    content"
                      "nav    footer";

  header {
    grid-area: header;
    border: 1px solid black;
  }

  nav {
    grid-area: nav;
    border: 1px solid black;
  }

  footer {
    border: 1px solid black;
  }
}
.game-container {
  margin: 30px auto;
}

.title {
  text-align: center;
}

@import "squares.scss";

.board-container {
  display: grid;
  width: 610px;
  margin: 0 auto;
  grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end col6-start] 1fr [col6-end col7-start] 1fr [col6-end col7-start] 1fr [col7-end col8-start] 1fr;
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end row3-start] 1fr [row3-end row4-start] 1fr [row4-end row5-start] 1fr [row5-end row6-start] 1fr [row6-end row7-start] 1fr [row6-end row7-start] 1fr [row7-end row8-start] 1fr;
  grid-template-areas:
        "subgrid subgrid subgrid"
        "subgrid subgrid subgrid"
        "subgrid subgrid subgrid";
  justify-content: center;

  // grid-template-areas:
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square"
  //       "square square square square square square square square square";

}

.subgrid {
  // grid-column: col1-start / col4-start;
  // grid-row: row1-start / row4-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr [sub-grid-col]);
  grid-template-rows: repeat(3, 1fr [sub-grid-row]);
  border: solid black;
  background-color: red;
  grid-gap: 5px;
}

.button-container {
  margin-top: 15px;
}

.start-button {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 60px;
  background-color: $light-blue;
  color: $white;
  border-radius: 6px;
  font-size: 28px;

  &:hover {
    background-color: $bright-blue;
  }

  &:active {
      background-color: $blue;
      box-shadow: 0 5px $darkest-blue;
      transform: translateY(4px);
  }
}
